@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr min-content;
  height: 100vh;
}

@media screen and (max-width: 662px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 1299px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1300px) {
  html {
    font-size: 17px;
  }
}

h1 {
  font-size: 2.6em;
  line-height: 2.45em;
}
h2 {
  font-size: 2.1em;
  line-height: 1.9em;
}
h3 {
  font-size: 1.8em;
  line-height: 1.65em;
}
h4 {
  font-size: 1.65em;
  line-height: 1.4em;
}
h5 {
  font-size: 1.4em;
  line-height: 1.25em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.shadow-custom {
  --tw-shadow: 3px 6px 15px 1px rgba(0, 0, 0, 0.7), 1px 2px 6px 0px rgba(0, 0, 0, 0.5);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-button {
  --tw-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.7), 1px 2px 6px 0px rgba(0, 0, 0, 0.5);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.p-md {
  padding: min(2rem, 3vw);
}

.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-layout > * {
  width: clamp(360px, 65rem, 94vw);
}

.duration-2000 {
  transition-duration: 2000ms;
}

.navbar.navbar {
  min-height: unset;
}

.fs-80 {
  font-size: 80px !important;
}

.unsplash-credits {
  position: fixed;
  bottom: 33px;
  right: 10px;
  font-size: 8px;
  opacity: 0.15;
}

.bgimage-centered {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
